.contenedorP { 
    width: 100%;
    min-height: calc(100vh - 200px);
}

.contenedorP div{

    height: 70%; /* Imagen reponsiva*/
    margin-bottom: 20px;
    margin: 20px;
    background-size: cover;
}

.caja1 {
    /* Imagen aleatoria: */
    background: url('https://placeimg.com/640/480/any');
}

.caja2 {
    /* Imagen aleatoria: */
    background: url('https://placeimg.com/640/480/any');
}

.caja3 {
    /* Imagen aleatoria: */
    background: url('https://placeimg.com/640/480/any');
}

.texto {
    width: 90%;
    margin: auto;
    position: relative;
    height: 300px;
    /* margin-top: -300px; */
    /* background-color: rgba(255, 0, 0, 0.25); */
    background-color: rgba(0, 0, 0, 0.6); 
    align-self: flex-end; /* Alineación respecto a la imagen */
    padding: 25px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.texto h2 {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .contenedorP { 
        width: 100%;
        min-height: calc(100vh - 200px);
    }

    .texto {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        align-self: flex-end; /* Alineación respecto a la imagen */
        padding: 25px;
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        font-size: 11px;
    }

    .texto h2 {
        font-size: 14px;
    }

}