.contenedorP { 
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: aqua;
}

.caja {
    width: 100%; /* Imagen reponsiva*/
    /*height: 100vh;*/ /* Imagen reponsiva*/
    /* Imagen aleatoria: */
    /* background: url('https://placeimg.com/640/480/any'); */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(3, 59, 3);
}

img {
    max-width: 90%;
    /* height: auto; */
    margin: auto;
    padding: 5px;
}

.texto {
    width: 90%;
    margin: auto;
    position: relative;
    height: 300px;
    margin-top: -300px;
    /* background-color: rgba(255, 0, 0, 0.25); */
    background-color: rgba(0, 0, 0, 0.6); 
    align-self: flex-end; /* Alineación respecto a la imagen */
    /* margin-bottom: auto; */
    padding: 25px;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.texto h2 {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .contenedorP { 
        width: 100%;
        min-height: calc(100vh - 200px);
    }

    .texto {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        align-self: flex-end; /* Alineación respecto a la imagen */
        /* margin-bottom: auto; */
        padding: 25px;
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
    }

}